<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.github.chriskn.jsonjvl.ui.properties.PreferencePage"
            id="jsonjvl-plugin.generalsettings"
            name="JsonJVL">
      </page>
   </extension>
    <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.chriskn.jsonjvl.ui.properties.PreferenceInitializer">
      </initializer>
   </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="com.github.chriskn.jsonjvl.internal.Activator">
       </startup>
    </extension>
</plugin>
